@charset "utf-8";/*---文字化け対策---*
/*------------
リセットcss
-------------*/
*{
    padding: 0;
    margin:0;
}

a{
    /* color: var(--primary-color); ←ヘッダーリストaタグリンクはデフォルト青色にする*/
    text-decoration: none;
}
ul{
    list-style-type: none;
}



/*------------
共通部分
-------------*/
/*-カスタムプロパティ-*/
:root{
    --background-color: #fff;
    --primary-color:#333;
    --secondary-color:#f7f0d7;
}


body {
  font-family: 'Noto Sans JP', 'Helvetica Neue', sans-serif;
  color: #333;
  line-height: 1.8;
}



